<footer class="page-footer text-center font-small mt-4 wow fadeIn">

    <hr class="my-4">

    <!-- Social icons -->
    <div class="pb-4">
      <a href="https://www.facebook.com/anshulsharma1098" target="_blank">
        <i class="fab fa-facebook-f mr-3"></i>
      </a>

      <a href="https://twitter.com/anshul1098" target="_blank">
        <i class="fab fa-twitter mr-3"></i>
      </a>

      <a href="https://www.linkedin.com/in/anshul-sharma-535733147/" target="_blank">
        <i class="fab fa-linkedin mr-3"></i>
      </a>

      <a href="https://github.com/anshul1098" target="_blank">
        <i class="fab fa-github mr-3"></i>
      </a>

    </div>
    <!-- Social icons -->

    <!--Copyright-->
    <div class="footer-copyright py-3">
      © 2019 Copyright
    </div>
    <!--/.Copyright-->

  </footer>